.content {
  width: 520px;
}

.title {
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 52px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
