.addButton {
  border: none;
  padding: 0;
  width: 176px;
  height: 48px;
  background: rgba(96, 96, 96, 0.68);
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #f65261;
}
